@import '../variable';

.todo-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid $secondColor;
  border-radius: 5px;;

  label {
    user-select: none;
  }

  input[type="checkbox"] {
    margin-right: 1rem;

    // &:checked ~ * {
    //   color: darken($color, 30%);
    //   text-decoration: line-through;
    // }
  }

  // input:checked ~ * {
  //
  // }

  .rm {
    margin-left: 1rem;
    cursor: pointer;
  }

  .done {
    color: darken($color, 60%);
    text-decoration: line-through;
  }
}
